<!-- 
<form action="" class="card">
    <div class="form-row card-header">
        <h1>Requester list</h1>
        <table class="table" style="border: 2cm; border-radius: 2px;">

            <thead>
                <tr>
                    <th scope="col">RequesterName</th>
                    <th scope="col">FlatNumber</th>
                    <th scope="col">BedNumber</th>
                   

                </tr>
            </thead>
            <tbody *ngFor="let req of Requester">
                <tr>
                 
                    <td>{{req.flatName}}</td>
                    <td>{{bed.flatNumber}}</td>
                    <td>{{bed.address}}</td>
                    <td>{{bed.roomNumber}}</td>
                    <td>{{bed.roomSharing}}</td>
                    <td>{{bed.bedNumber}}</td>
                    <td>{{bed.bedPrice}}</td>

                    <td>
                        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal"
                            (click)="confirmRequest()">Request Bed</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</form> -->