<!-- <h1>Flat ADD</h1>

<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">ADD Flat</h3>
    </div>
    
    <form role="form" [formGroup]="flatFormGroup">
      <div class="card-body">
        <div class="form-group">
          <label >Flat Number</label>
          <input type="text" class="form-control"  formControlName="flatNumber">
        </div>
        <div class="form-group">
          <label >Flat Name</label>
          <input type="text" class="form-control"   formControlName="flatName">
        </div>
        <div class="form-group">
            <label >Flat address</label>
            <input type="text" class="form-control"   formControlName="address">
        </div>
        <div class="form-group">
            <label >Flat locality</label>
            <input type="text" class="form-control"   formControlName="locality">
        </div>
   
      </div>


      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="onUpdateFlat()">ADD Flat</button>
        
      </div>
      <div class="card-footer">
        
        <button type="button" class="btn btn-secondary" (click)="onGoBack()">Go to Previous Page</button>
      </div>
    </form>
  </div> -->